*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f6f9;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CONTAINER (LUAR) */
.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD MENU */
.menu-card{
    width:90%;
    max-width:400px;
    background:#fff;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

/* JUDUL */
.menu-card h1{
    margin-bottom:20px;
}

/* MENU BUTTON */
.menu{
    display:flex;
    flex-direction:column; /* jadi ke bawah */
    gap:15px;
}

.menu a{
    text-decoration:none;
    width:100%;
}

/* BUTTON */
.menu button{
    width:100%;
    height:90px;
    border:none;
    border-radius:15px;
    background:#0d6efd;
    color:white;
    font-weight:bold;
    font-size:15px;
    cursor:pointer;
    transition:.2s;
}

/* HOVER */
.menu button:hover{
    background:#0b5ed7;
    transform:scale(1.03);
}